{% load static %}
{% block content %}


<link rel="stylesheet" type="text/css" href="{% static 'index.css'%}">

<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/magnific-popup.css" />
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/3.0.6/isotope.pkgd.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/magnific-popup.js/1.1.0/jquery.magnific-popup.js"></script>

 <div class="container">
         <div class="row">
            <div class="col-lg-12 text-center my-2">
                   <h3 class="py-3"><a href="https://spreeowl.com/">Makeup Data</a></h3>
               <h4>Su usuario es: {{user.username}} </h4>
               <h5><a class="btn btn-primary" href="{% url 'logout' %}">Logout</a></h5>
            </div>
         </div>
         <div class="portfolio-menu mt-2 mb-4">
            <ul>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="http://127.0.0.1:8000/index">Todo</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="http://127.0.0.1:8000/index/Blush">Blush</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="http://127.0.0.1:8000/index/Bronzer">Bronzer</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="http://127.0.0.1:8000/index/Eyebrow">Eyebrow</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="http://127.0.0.1:8000/index/Eyeliner">Eyeliner</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="http://127.0.0.1:8000/index/Eyeshadow">Eyeshadow</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="http://127.0.0.1:8000/index/Foundation">Foundation</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="http://127.0.0.1:8000/index/Lipstick">Lipstick</a></li>
                  <li class="btn btn-outline-dark" data-filter=".gts"><a href="http://127.0.0.1:8000/index/Mascara">Mascara</a></li>
           </ul>
            <ul>
                <li class="btn btn-outline-dark" data-filter=".gts"><a href="{{ request.path }}/Vegan">Vegan</a></li>
                <li class="btn btn-outline-dark" data-filter=".gts"><a href="{{ request.path }}/Canadian">Canadian</a></li>
                <li class="btn btn-outline-dark" data-filter=".gts"><a href="{{ request.path }}/Natural">Natural</a></li>
            </ul>
         </div>
         <div class="portfolio-item row">
         {% for d in data%}
            <div class="item selfie col-lg-3 col-md-4 col-6 col-sm">
                <a>{{d.name}}</a>
               <img class="img-fluid" src="{{d.image_link}}" alt="">
            </div>
        {%endfor%}
      </div>

{% endblock %}