{% extends 'layout.html' %}
{% block content %}
{%for d in data%}

<div class="container">
    <h1 class="h1 mt-3">Buscador de juegos: </h1>
    <form class="d-flex pt-4" method='POST'>
        {% csrf_token %}
        <input class="" type="search" placeholder="Buscar" name='Search' aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Buscar</button>
    </form>
<hr/>
</div>

<article>
    <div class="container-article"> 
        <div>
            {% if request.user.is_authenticated %} 
            <i class="clock"></i>
            {%endif%}
            <br>
            <div class="post"><h2>{{d.name}}</h2></div>
            <br><br>
            <div>Nivel: {{d.level}}</div>
        </div>
    </div>
            <img class='post_img'src="{{d.img}}">
            <br><br><br>

</article>


{% endfor %}

{% endblock %}