{% extends 'layout.html' %}
{% block content %}
{%for d in data%}



<article>
    <div class="container-article"> 
        <div>
            {% if request.user.is_authenticated %} 
            <i class="clock"></i>
            {%endif%}
            <br>
            <div class="post"><h2>{{d.title}}</h2></div>
            <br><br>
            <div>Género: {{d.genre}}</div>
            <div>Plataforma: {{d.platform}}</div>
            <div>Desarrollador: {{d.developer}}</div>
            <br>
            <div class="post">{{d.short_description}}</div>
        </div>
    </div>
            <img class='post_img'src="{{d.thumbnail}}">
            <br><br><br>

</article>


{% endfor %}

{% endblock %}